body{width:1345px;height:610px;margin:10px;}
h2{color:#A71A00}
div{color:#A71A00;width:1335px;height:600px;text-align: center;background-color:#FFFFCC;border-top:3px solid #b8b8b1}
.first{color:#FF69A1}
span{display:inline-block;margin-bottom: 15px}